{% extends "base.html" %}

{% block content %}
<h1>Driver: {{ object.username }}</h1>

<p>ID: {{ object.id }}</p>
<p>First name: {{ object.first_name }}</p>
<p>Last name: {{ object.last_name }}</p>
<p>Email: {{ object.email }}</p>

<h2>Cars</h2>
{% if object.cars.all %}
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Model</th>
        <th>Manufacturer</th>
        <th>Country manufacturer</th>
      </tr>
    </thead>
    <tbody>
      {% for car in object.cars.all %}
        <tr>
          <td><a href="{% url 'taxi:car-detail' car.id %}">{{ car.id }}</a></td>
          <td>{{ car.model }}</td>
          <td>{{ car.manufacturer.name }}</td>
          <td>{{ car.manufacturer.country }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>This driver doesn't have any car yet</p>
{% endif %}

{% endblock %}

